<section class="listeProjets">
    <nav>
        <h3>Web</h3>
        <ul>
            <li class="gabarit desactive">
                <a href="#">Projet 1</a>
            </li>
            <li>
                <a href="#">Projet 1</a>
            </li>
        </ul>
    </nav>
    <div class="retourAccueil">
        <div class="logoConteneur">
            <a href="/"><img src="img/SVG/logoNomBlanc.svg" alt="Retour à la page d'accueil"></a>
        </div>
    </div>
</section>