<section class="projet">
    <div class="imgGroupe">
        <%#Navigation pour les images en requêtes Ajax %>
        <nav class="imgGroupe">
            <ul>
                <li class="gabarit desactive"></li>
                <li class="1"></li>
                <li class="courant 2"></li>
                <li class="3"></li>
            </ul>
        </nav>
        <div class="imgConteneur">
            <img src="img/oeuvres/gisement-menu-1200x700.jpg" alt="oeuvre" class="gabarit desactive">
            <img src="img/oeuvres/gisement-menu-1200x700.jpg" alt="oeuvre" class="desactive 1">
            <img src="img/oeuvres/gisement-menu-1200x700.jpg" alt="oeuvre" class="2">
            <img src="img/oeuvres/gisement-menu-1200x700.jpg" alt="oeuvre" class="desactive 3">
        </div>
        <aside>
            <div class="etiquetteConteneur">
                <p>
                    <i class="fa fa-tag fa-2x"></i>
                </p>
                <p class="etiquettes">web, cms, exploration</p>
            </div>
            <div class="aimeConteneur">
                <p>
                    <i class="fa fa-heart fa-2x"></i>
                </p>
                <p class="aime">104</p>
            </div>
            <div class="tempsConteneur">
                <p>
                    <i class="fa fa-hourglass fa-2x"></i>
                </p>
                <p class="temps">20 hres</p>
            </div>
            <div class="lienConteneur">
                    <p>
                        <i class="fa fa-screen fa-2x"></i>
                    </p>
                    <p class="lien"><a href="#" target="_blank">Aller au site</a></p>
                </div>
        </aside>
    </div>
    <div class="desc">
        <h3>Titre</h3>
        <p class="descTxt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum ab eaque architecto minus ex? Non, consequuntur ex?
            Repellendus, ipsa, obcaecati aut sapiente delectus, similique inventore eligendi numquam voluptatibus maxime
            nam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum ab eaque architecto minus ex? Non, consequuntur
            ex? Repellendus, ipsa, obcaecati aut sapiente delectus, similique inventore eligendi numquam voluptatibus maxime
            nam?
        </p>
    </div>

</section>