<% var infoPage = {titre:"Accueil", meta:"", robot:"no-follow, no-index", description:"Ma page web"} %>
<% include partials/entete %>
<% include partials/nav %>
<%# CONTENU DE LA PAGE %>
<h1></h1>
<% include partials/footer %>