<% include partials/entete %>
<%# CONTENU DE LA PAGE %>
<div class="conteneurPrinc accueil">
    <header>
        <div class="logoGroupe">
            <img src="img/SVG/logoNomCoul.svg" alt="Maxime Lacasse Germain" class="logo">
            <h1 class="logo">Intégrateur multimédia</h1>
        </div>
        <nav class="navPrinc">
            <ul>
                <li>
                    <a href="#">Web</a>
                </li>
                <li>
                    <a href="#">Jeux vidéo</a>
                </li>
                <li>
                    <a href="#">Multimédia</a>
                </li>
                <li>
                    <a href="#">Bio</a>
                </li>
            </ul>
        </nav>
    </header>
   
    <%# PIED DE PAGE%>
    <% include partials/footer %>
</div>
<section class="fondAnim">
<canvas id="Fond3D"></canvas>
</section>
</body>
</html>