@import 'reset.css';
* {
    box-sizing: border-box;
}

@font-face {
    font-family: Signoria;
    src: url('../font/Signoria Regular.ttf');
}

@coulBG:#232427;
@coulBase :#a9fcf6;
@coulAccent: #ff0037;

@fontBase: 'Signoria', sans-serif;
@fontAccent: 'Signoria', sans-serif;
@fontTitre: 'Signoria', sans-serif;

.tailleFont(@taille) {
    @remVal : @taille;
    @pxVal: (@taille * 10);
    font-size:~"@{pxVal}px";
    font-size:~"@{remVal}rem";
}

//Gestion de la typographie
html {
    font-size: 62.5%;
    color: @coulBase;
    background-color: @coulBG;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: @fontBase;
    color: @coulBase;
}

p,
input,
label,
textarea,
div,
li,
a {
    .tailleFont(1);
    font-family: @fontBase;
}

h1 {
    .tailleFont(7);
    font-weight: 500;
    letter-spacing: -0.15rem;
    font-family: @fontTitre;
}

h2 {
    .tailleFont(5);
    font-weight: 100;
}

h3 {
    .tailleFont(3)
}

h4 {
    .tailleFont(1)
}

h5 {
    .tailleFont(0.8)
}

h6 {
    .tailleFont(0.7)
}

//Mise en page générale
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    & .fondAnim{
        position: fixed;
        height: 100vh;
        width: 100vw;
        z-index: -1;
    }
    & .conteneurPrinc.accueil{
        background-color:black;
        flex: 1 1 100%; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & header{
            flex:1 1 auto;
            width: 80vw;
            max-height: 80vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            & .logoGroupe{
                flex:1 1 auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                & h1.logo{
                    .tailleFont(3);
                    color: white;
                    text-transform: uppercase;
                    letter-spacing: 0.3em;
                    text-align: center;
                }
                
            }
            & .navPrinc{
                //DEV
                & img{display: none};
                flex: 1 1 auto;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                & ul{
                    display: flex;
                    flex: 1 1 auto;
                    justify-content: space-around;
                    
                    & li{
                        flex: 1 1 25%;
                        margin: 0 0.25em;
                        text-align: center;
                        & a, & a:visited, & a:active{
                            .tailleFont(2);
                            color: #434446;
                            text-transform: uppercase;
                            text-decoration: none;
                            &:hover{
                                color: #E81A1A;
                            }
                        }
                    }
                }


            }

        }       
    }
    
    & footer{
        & p{
            align-self: flex-end;
            .tailleFont(1);
            color: grey
        }
    }
    
}